Repository 3nvi/react-simple-minesweeper: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

added husky & lint-staged
  package.json
Due: prettier --write

created redux store
  src/store.js
Due: prettier --write, eslint

created needed ducks
  src/ducks/game/actions.js
  src/ducks/game/index.js
  src/ducks/game/reducer.js
  src/ducks/game/selectors.js
  src/ducks/game/types.js
  src/ducks/index.js
  src/ducks/utils.js
Due: prettier --write, eslint

added middlewares for the game duck
  src/middlewares/handleConstructGrid.js
  src/middlewares/handleOpenCell.js
  src/middlewares/handleRepeatGame.js
  src/middlewares/index.js
Due: prettier --write, eslint

added tests for the game duck
  src/ducks/game/game.unit.test.js
Due: prettier --write, eslint

created & tested the timer component
  src/components/MsTimer/MsTimer.jsx
  src/components/MsTimer/MsTimer.unit.test.js
  src/components/MsTimer/index.js
Due: prettier --write, eslint

created & tested the input form component
  src/components/MsInputForm/MsInputForm.jsx
  src/components/MsInputForm/MsInputForm.unit.test.js
  src/components/MsInputForm/index.js
Due: prettier --write, eslint

created & tested the Modal Header component
  src/components/MsResultsModal/MsResultsModal.jsx
  src/components/MsResultsModal/MsResultsModal.unit.test.js
  src/components/MsResultsModal/index.js
Due: prettier --write, eslint

created & tested a Cell component
  src/components/MsGridCell/MsGridCell.jsx
  src/components/MsGridCell/MsGridCell.unit.test.js
  src/components/MsGridCell/index.js
Due: prettier --write, eslint

added & tests a parent Grid component for the Cells
  src/components/MsGrid/MsGrid.jsx
  src/components/MsGrid/MsGrid.unit.test.js
  src/components/MsGrid/index.js
Due: prettier --write, eslint

added missing SVGs
  src/assets/delete.svg
  src/assets/repeat.svg
Due: none

added util functions & constants
  src/utils/common.js
  src/utils/constants.js
Due: prettier --write, eslint

added a high level Landing Page component
  src/pages/LandingPage/LandingPage.integration.test.js
  src/pages/LandingPage/LandingPage.jsx
  src/pages/LandingPage/index.js
Due: prettier --write, eslint

added prop-type shape for the cell data
  src/shapes/cell.js
Due: prettier --write, eslint

connected LandingPage with App
  src/App.js
Due: prettier --write, eslint

added react-spring
  package.json
  yarn.lock
Due: prettier --write

added formik
  package.json
Due: prettier --write

added lodash
  package.json
Due: prettier --write

added react-testing-library
  package.json
Due: prettier --write

handled unhelpful `act()` warnings
  __mocks__/react.js
Due: prettier --write, eslint

added `sleep` function to the global test scope
  src/setupTests.js
Due: prettier --write, eslint

added missing global styles
  src/index.js
Due: prettier --write, eslint

updated README.md
  README.md
Due: prettier --write

fixed typo
  README.md
Due: prettier --write

Updated test comments
  src/pages/LandingPage/LandingPage.integration.test.js
Due: prettier --write, eslint

added the ability to flag a cell
  src/assets/time.svg
  src/components/MsGridCell/MsGridCell.jsx
  src/components/MsGridCell/index.js
  src/components/MsResultsModal/MsResultsModal.jsx
  src/components/MsResultsModal/index.js
  src/components/MsTimer/MsTimer.jsx
  src/ducks/game/actions.js
  src/ducks/game/reducer.js
  src/ducks/game/selectors.js
  src/ducks/game/types.js
  src/middlewares/handleOpenCell.js
Due: prettier --write, eslint

updated tests for flag functionality
  src/components/MsGridCell/MsGridCell.unit.test.js
  src/components/MsResultsModal/MsResultsModal.unit.test.js
  src/ducks/game/game.unit.test.js
Due: prettier --write, eslint

Update README.md
  README.md
Due: prettier --write

add server.js
  package-lock.json
  package.json
  server.js
  yarn.lock
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{js,jsx,json,scss,md}
  eslint: any of: *.{js,jsx}
